INPUT/*
OUTPUT/*
MACROPHAGE_INPUT/*
K562_INPUT/*
K562_RN118_INPUT/*
K562_RN119_INPUT/*
MACROPHAGE_INPUT_BUFFER_1
MACROPHAGE_INPUT_BUFFER_3
TRIPOD_INPUT/
*.err
*.log
testing.py
LOGS/
*.tsv
*.txt
*.csv
*.out
roc_histogram_plotting